* {
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    background-color: darkred;
    color: whitesmoke;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    list-style: none;
}