* {
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    background-color: darkred;
    color: whitesmoke;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    list-style: none;
}

/* Game Container */

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    border: 2px solid darkred;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(246, 232, 246);
}

.gameInfo {
    padding: 0 34px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}



.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}