* {
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    background-color: darkred;
    color: whitesmoke;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    list-style: none;
}

/* Game Container */

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.box {
    border: 2px solid darkred;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.gameInfo {
    padding: 0 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameInfo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}



.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: brown;
}

#reset {
    margin: 20px 30px;
    padding: 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: 2px solid black;
    font-size: 1.05rem;
}

#reset:hover {
    margin: 20px 30px;
    padding: 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 5, 5);
    border: 2px solid black;
    font-size: 1.05rem;
}

.line {
    background-color: black;
    width: 30vw;
    height: 3px;
    position: absolute;
}

/* Adding Media Query */

@media screen and (max-width:900px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 50px;
    }

    .gameInfo h1 {
        font-size: 1.3rem;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

    .box {
        font-size: 10vw;
    }

    .turn_reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .info {
        font-size: 2rem;
    }

    #reset {
        font-size: 2.05rem;
    }
}